#include "winver.h"
 
 
//#define IDI_ICON1                       101
 
/////////////////////////////////////////////////////////////////////////////
//
// Version
//
 
#define VER_FILEVERSION             10,0,17134,1
#define VER_FILEVERSION_STR         "10.0.17134.1\0"
 
#define VER_PRODUCTVERSION          10,0,17134,1
#define VER_PRODUCTVERSION_STR      "10.0.17134.1\0"
 
#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif
 
VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_DEBUG
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "NT Layer DLL"
            VALUE "FileVersion", "10.0.17134.1304 (WinBuild.160101.0800)"
            VALUE "InternalName", "ntdll.dll"
            VALUE "LegalCopyright", "\xA9 Microsoft Corporation. All rights reserved."
            VALUE "OriginalFilename", "ntdll.dll"
            VALUE "ProductName", "Microsoft\xAE Windows\xAE Operating System"
            VALUE "ProductVersion", "10.0.17134.1304"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
 
 
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
 
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
//IDI_ICON1               ICON                    "demo.ico"
/////////////////////////////////////////////////////////////////////////////